<%- include("partials/header.ejs") %>

<div class="book-container">
    <h1>Page Not Found</h1>
    <a>The page you are looking for is not found.</a>
    <a href="/" class="nav-link">Go Back Home</a>
</div>

<%- include("partials/footer.ejs") %>